{% include 'header.html' %}
<main class="main-azulejo">

    <div>
        <!--input del precio por pieza-->
        <p class="titulo-largo">Largo del piso</p>
        <input id="input-largo" class="input-welcome" type="number" placeholder=" Ingrese el largo del piso">
     
        <p class="titulo-ancho">Ancho del piso</p>
        <input id="input-ancho" class="input-welcome" type="number" placeholder=" Ingrese el ancho del piso">

        <p class="titulo-precio">Precio por piezas</p>
        <input id="input-precio" class="input-welcome" type="number" placeholder="Ingrese el precio por pieza">

        <div>
        <button class="button-calcular" id="btn-calcular">CALCULAR</button>
        
        </div>
        <img class="img-azulejo" src="Resources/tile.jpg" alt="Azulejo">
    </div>
</main>
{% include 'footer.html' %}