<!DOCTYPE html>
<html>
    <head>
        <title>Mi aplicacion Web</title>
        <link rel="icon" href="Resources/favicon.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </head>
    <body>
        <!--Comentario wiii-->
        <header>
            <!-- a significa anchor (ancla) para hacer enlaces -->
            <a href="{{url_for('index')}}">Inicio</a>
            <a href="{{url_for('math')}}">Matematicas</a>
            <a href="{{url_for('azulejos')}}">Azulejo</a>
            <a href="{{url_for('palindrome')}}"> Palindromo </a>
        </header>