{% include 'header.html'%}
        <main>
            <div>
                <form method="post" action ="/sorteo">
                    <p>Ingrese 1 numero </p>
                    <input id="input_num1" name="input_num1" class='input-welcome' type="text" placeholder="Ingrese un numeoro">
                    <input id="input_num2" name="input_num2" class='input-welcome' type="text" placeholder="Ingrese un numeoro">
                    <input id="input_num3" name="input_num3" class='input-welcome' type="text" placeholder="Ingrese un numeoro">
                    <button class="button-ok" type="submit">Jugar</button>
                </form>
            </div>
                
        </main>
        
{% include 'footer.html' %}